.img-eperson{
  width: 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.landing-screen{
   height: 100vh;
   width: 100vw;
}
.container{
  width: 50%;
  padding: 5%;
}
.big-container{
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: space-around;
  height: 80%;
}
