.big-container {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: space-around;
  height: 80%;
  background-color: #A2BCE0;
}
.buttons {
  background-color: #62819A;
  color: white;
  font-size: 1.2em;
  margin-top: 20px;
  margin-bottom: 20px;
}
.container {
  padding-top: 3%;
  padding-left: 4.5%;
  padding-right: 12%;
  width: 50%;
}
.img-eperson {
  width: 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.landing-screen {
  height: 100vh;
  width: 100vw;
}
.title {
  margin-top: 1%;
  font-size: 3.5em;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .img-eperson{
    display: none
  }
}
