<div class="login-screen">
  <app-menu></app-menu>
  <div class="big-container">
    <div class="img-eperson">
    </div>
    <div class="e-login">
      <h1 class="ta-center fs-36">Login</h1>
      <h2 class="ta-center">Log in to continue</h2>
      <div class="form">
        <div class="fields">
          <mat-form-field appearance="outline">
            <mat-label>Please enter email</mat-label>
            <input matInput type="email"
                   pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
                   required [(ngModel)]="nombreUsuario">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Please enter password</mat-label>
            <input matInput type="password" required [(ngModel)]="password">
          </mat-form-field>
        </div>
        <div style="display: flex; justify-content: space-between">
          <mat-checkbox class="example-margin" color="primary">Remember me?</mat-checkbox>
          <p style="color: #1F86FF">I forgot my password</p>
        </div>
      </div>
      <div class="center-button">
        <button mat-raised-button color="primary" class="btn-login">LOGIN</button>
      </div>
      <a routerLink="../sign-up" class="ta-center" style="color: #1F86FF; text-decoration: none">Or create a new account</a>
    </div>
  </div>
  <app-footer></app-footer>
</div>
