<app-sidenav>
<div class="titulo">
  <h1>Preguntas Frecuentes</h1>
</div>
<section>

  <div class="contenedor">
    <h1 class="title">Preguntas Frecuentes</h1>
    <div class="">
      <div class="accordion-item" id="pregunta1">
        <a class="accordion-link">
          ¿Qué se usó para el cálculo de la TCEA?
        </a>
        <div style="color: white">
          <p>Para el cálculo de la TCEA se utilizará una fórmula de Valor Neto en la tasa de interés efectiva durante el período, a través de la cual se podrá encontrar el valor de recibo y entrega, para aplicar la fórmula de la TCEA</p>
        </div>
      </div>
      <div class="accordion-item" id="pregunta2">
        <a class="accordion-link">
          ¿Qué es el Valor Neto?
        </a>
        <div style="color: white">
          <p>Importe anticipado por la entidad. Es el importe generado del descuento originado por los intereses cobrados por adelantado.</p>
          <p>Valor Neto=Valor Nominal*(1+TEP )-(n días trasladarn días TEP)</p>
        </div>
      </div>
      <div class="accordion-item" id="pregunta3">
        <a class="accordion-link">
          ¿Qué es el valor recibido?
        </a>
        <div style="color: white">
          <p>El valor recibido es la cantidad de dinero que se obtiene en el tiempo cero.</p>
          <p>La formula para calcularlo es:</p>
          <p>Valor Recibido= Valor Neto- Costes/Gastos iniciales-Retención</p>
        </div>
      </div>
      <div class="accordion-item" id="pregunta4">
        <a class="accordion-link">
          ¿Qué es el valor entregado?
        </a>
        <div style="color: white">
          <p>El valor entregado es la cantidad de dinero que se entrega al final del plazo</p>
          <p>La formula para calcularlo es:</p>
          <p>Valor Entregado = Valor Nominal + Costes/Gastos finales- Retención</p>
        </div>
      </div>
      <div class="accordion-item" id="pregunta5">
        <a class="accordion-link">
          ¿Qué es la Tasa de Coste Efectiva Anual(TCEA)?
        </a>
        <div style="color: white">
          <p>Es la tasa que permite conocer el coste total que se deberá pagar.</p>
          <p>La formula para calcularlo es:</p>
          <p>TCEA=((Valor Entregado)(Valor Recibido))(360/n días) - 1</p>
        </div>
      </div>
      <div class="accordion-item" id="pregunta6">
        <a class="accordion-link">
          ¿Qué es la Tasa de interés efectiva en el periodo?
        </a>
        <div style="color: white">
          <p>Es la tasa con la cual se calcula los intereses del préstamo.</p>
        </div>
      </div>
      <div class="accordion-item" id="pregunta7">
        <a class="accordion-link">
          ¿Qué es la Tasa de interés nominal?
        </a>
        <div style="color: white">
          <p>Es la tasa que indica el porcentaje de interés que se cobra por la operación.</p>
          <p>La formula para calcularlo es:</p>
          <p>TEP=(1+TN/m)n - 1</p>
        </div>
      </div>
      <div class="accordion-item" id="pregunta8">
        <a class="accordion-link">
          ¿Qué es el Tasa de descuento equivalente?
        </a>
        <div style="color: white">
          <p> Dada una tasa nominal o efectiva, se debe calcular la tasa de interés efectiva del periodo de análisis. Una vez que determinamos la tasa del periodo, podemos calcular la tasa de descuento correspondiente a este periodo de tiempo. Es la tasa efectiva que se aplicaría para los intereses traída al presente.</p>
        </div>
      </div>
    </div>
  </div>
</section>
</app-sidenav>
