<!--
<app-menu></app-menu>
<div class="text-center" *ngIf="isLogged; else loggedOut">
  <h2>Ya has iniciado sesión</h2>
</div>

<ng-template #loggedOut>
  <div class="container d-flex justify-content-center">
    <div class="card">
      <div class="card-header">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Iniciar Sesión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/registro">Crear Cuenta</a>
          </li>

        </ul>
      </div>
      <div class="card-body">
        <form #f="ngForm" (ngSubmit)="onRegister()" novalidate>
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre" class="form-control"
                   [(ngModel)]="nombre" required>
          </div>
          <div class="form-group">
            <label for="nombreUsuario">Nombre de Usuario</label>
            <input type="text" name="nombreUsuario" id="nombreUsuario" class="form-control"
                   [(ngModel)]="nombreUsuario" required>
          </div>
          <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" name="password" id="password" class="form-control"
                   [(ngModel)]="password" required>
          </div>
          <div class="form-group">
            <label for="email">Correo Electrónico</label>
            <input type="text" name="email" id="email" class="form-control"
                   [(ngModel)]="email" required>
          </div>
          <div class="form-group">
            <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">
              <i class="fas fa-sign-in-alt"></i> Crear Cuenta</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>
-->
<div class="login-screen">
  <app-menu></app-menu>
  <div class="big-container">
    <img src="assets/e-person.png" class="img-eperson">
    <div class="e-login">
      <h1 class="ta-center fs-36">Create new account </h1>
      <h2 class="ta-center">Already registered? <a routerLink="../login" style="color: #1F86FF; text-align: center; text-decoration: none">Log in</a>
      </h2>
      <div class="form">
        <div class="fields">
          <mat-form-field appearance="outline" class="field">
            <mat-label>Please enter your name</mat-label>
            <input matInput required [(ngModel)]="nombre">
            <mat-error>Please complete this field</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="field">
            <mat-label>Please enter your name</mat-label>
            <input matInput required [(ngModel)]="nombreUsuario">
            <mat-error>Please complete this field</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="field">
            <mat-label>Please enter email</mat-label>
            <input matInput type="email"
                   pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
                   required [(ngModel)]="email">
            <mat-error>Please enter a valid email address</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="field">
            <mat-label>Please enter password</mat-label>
            <input matInput type="password" required [(ngModel)]="password">
            <mat-error>Please complete this field</mat-error>
          </mat-form-field>
          <!--          <mat-form-field appearance="outline" class="field">
                      <mat-label>Please enter date of birth</mat-label>
                      <input matInput [matDatepicker]="picker" required [(ngModel)]="birth_date" >
                      <mat-error>Please complete this field</mat-error>
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>-->
        </div>
      </div>
      <div class="center-button">
        <button mat-raised-button color="primary" class="btn-login" (click)="onRegister()">SIGN UP</button>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
