<div class="login-screen">
  <app-menu></app-menu>
  <div class="big-container">
    <img src="assets/e-person.png" class="img-eperson">
    <div class="e-login">
      <h1 class="ta-center fs-36">Create new account </h1>
      <h2 class="ta-center">Already registered? <a routerLink="../login" style="color: #1F86FF; text-align: center; text-decoration: none">Log in</a>
      </h2>
      <div class="form">
        <div class="fields">
          <mat-form-field appearance="outline" class="field">
            <mat-label>Please enter your name</mat-label>
            <input matInput required [(ngModel)]="nombreUsuario">
            <mat-error>Please complete this field</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="field">
            <mat-label>Please enter email</mat-label>
            <input matInput type="email"
                   pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
                   required [(ngModel)]="email">
            <mat-error>Please enter a valid email address</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="field">
            <mat-label>Please enter password</mat-label>
            <input matInput type="password" required [(ngModel)]="password">
            <mat-error>Please complete this field</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="field">
            <mat-label>Please enter date of birth</mat-label>
            <input matInput [matDatepicker]="picker" required [(ngModel)]="birth_date" >
            <mat-error>Please complete this field</mat-error>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="center-button">
        <button mat-raised-button color="primary" class="btn-login">SIGN UP</button>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
