.label {
  color: black;
}
.i {
  border-top: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
}
.container {
  color: black;
  flex-direction: column;
  width: 300px;
}
.buttons {
  width: 300px;
}
.buttons button {
  background-color: #62819A;
  color: white;
  display: inline-flex;
  margin-left: 40px;
}
.field {
  width: 100%;
  color: black;
}
