.wallet-name{
  text-align: center;
}
.container{
  padding: 3% 8%;
}
.fs-50{
  font-size: 3.5em;
}
.receipt-grid{
  padding: 1% 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
.buttons{
  padding: 0% 6%;
}
.buttons button{
  margin: 6px;
}
.plus-button{
  background-color: #ffff;
  color: #000;
  margin-left: 10%;
  /*height: 40px;*/
}
.scrollable{
}
span{
  cursor: pointer;
}
.ta-right{
  text-align: right;
}
.pointer{
  cursor: pointer;
}
.box{
  width: 85%;
  height: 170px;
  margin: 5px 0px;
  border-radius: 25px;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 5%;
  /*box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;*/
}
.not-show{
  display: none;
}
.box:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
input{
  width:  140px!important;
}
section div{
  margin-top: 1%;
}
select{
  width:  147px!important;
  height: 20px !important;
}
.white{
  background-color: wheat;
}
.green{
  background-color: #A2BCE0;
}
.flex{
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr;
}
.real-flex{
  display: flex;
  justify-content: space-between;
}
h3{
  font-weight: bold;
}
.larger{
  height: 200px;
}
.field{
  width: 80px;
  height: 5px!important;
}
span{
  font-size: 13px !important;
}
.shorter{
  width: 66px !important;
}
.scrollable-content{
  display: flex;
  justify-content: space-between;
  padding: 1% 2%;
}
