<app-sidenav *ngIf="isLoaded">
  <div class="container">
    <h1 class="wallet-name fs-50">{{wallet.name}}</h1>
    <section class="receipt-grid">
      <div class="box white">
        <h3>Datos del Recibo por Honorarios</h3>
        <div class="flex">
          <span (click)="openIssueDateDialog()">(FE) Fecha de Emisión</span>
          <input type="date" [(ngModel)]="issue_date" required>
        </div>
        <div class="flex">
          <span (click)="openPaymentDateDialog()">(FP) Fecha de Pago	</span>
          <input type="date" [(ngModel)]="payment_date" required>
        </div>
        <div class="flex">
          <span (click)="openTotalToReceiveDialog()" *ngIf="wallet_currency">(TR) Total a Recibir (S/.)	</span>
          <span (click)="openTotalToReceiveDialog()" *ngIf="!wallet_currency">(TR) Total a Recibir ($)	</span>
          <input matInput [(ngModel)]="net_worth"  type="number" required>
        </div>
        <div class="flex">
          <span (click)="openRetentionDialog()" *ngIf="wallet_currency">(Rt) Retención (S/.)	</span>
          <span (click)="openRetentionDialog()" *ngIf="!wallet_currency">(Rt) Retención ($)	</span>
          <input type="number"  [value]="getRetention()" readonly>
        </div>
      </div>
      <div class="box green">
        <h3>Tasa y Plazo</h3>
        <div class="flex">
          <span (click)="openDaysPerYearDialog()">(DA) Días por año</span>
          <input type="text" value="360 días" readonly>
        </div>
        <div class="flex">
          <span (click)="openTasaEfectivaDialog()">(T) Tipo de Tasa (%)</span>
          <mat-select [(value)]="selected_rate_type" name="tasas" id="tipo">
            <mat-option value="efectiva">Efectiva</mat-option>
            <mat-option value="nominal">Nominal</mat-option>
          </mat-select>
          <input class="shorter" type="number" placeholder="13.5" [(ngModel)]="percentage" required>
        </div>
        <div class="flex">
          <span (click)="openPlazoDeTasaDialog()">(P) Plazo de Tasa</span>
          <mat-select [(value)]="selected_rate_plazo" name="tasas" id="tasas">
            <mat-option value="di">Diario</mat-option>
            <mat-option value="quin">Quincenal</mat-option>
            <mat-option value="men">Mensual</mat-option>
            <mat-option value="bim">Bimestral</mat-option>
            <mat-option value="trim">Trimestral</mat-option>
            <mat-option value="cuatrim">Cuatrimestral</mat-option>
            <mat-option value="sem">Semestral</mat-option>
            <mat-option value="anu" >Anual</mat-option>
            <mat-option value="esp">Especial</mat-option>
          </mat-select>
          <input class="shorter" type="number" [value]="getNumberOfDays(selected_rate_plazo)" readonly>
        </div>
        <div *ngIf="selected_rate_type=='nominal'" class="flex">
          <span (click)="openCapitalizationPeriodDialog()">(PC) Período de Capital.	</span>
          <mat-select [(value)]="selected_capitalization" name="tasas" id="capitalizacion">
            <mat-option value="di">Diario</mat-option>
            <mat-option value="quin">Quincenal</mat-option>
            <mat-option value="men">Mensual</mat-option>
            <mat-option value="bim">Bimestral</mat-option>
            <mat-option value="trim">Trimestral</mat-option>
            <mat-option value="cuatrim">Cuatrimestral</mat-option>
            <mat-option value="sem">Semestral</mat-option>
            <mat-option value="anu" >Anual</mat-option>
            <mat-option value="esp">Especial</mat-option>
          </mat-select>
          <input class="shorter" type="number" [value]="getNumberOfDays(selected_capitalization)" readonly>
        </div>
        <div class="flex">
          <span (click)="openDiscountDateDialog()">(FD) Fecha de Descuento</span>
          <input type="date" [disabled]="!active_discount_date" [(ngModel)]="discount_date" required>
        </div>
      </div>
      <div class="box green larger">
        <h3>Costes / Gastos Iniciales</h3>
        <div class="flex">
          <span (click)="openStartingReasonDialog()">Motivo</span>
          <mat-select id="concepto_inicial" [(value)]="selected_initial_cost">
            <mat-option *ngFor="let reason of reasons" [value]="reason.id">
              {{reason.description}}
            </mat-option>
          </mat-select>
        </div>
        <div class="flex">
          <span (click)="openValueExpressedDialog()" *ngIf="!wallet_currency">Valor expresado en efectivo ($)</span>
          <span (click)="openValueExpressedDialog()" *ngIf="wallet_currency">Valor expresado en efectivo (S/.)</span>
          <input type="number"  [(ngModel)]="initial_cost_value" required>
          <div class="example-button-container">
            <button mat-mini-fab class="plus-button"
                    (click)="push_initial_adapted_costs(selected_initial_cost, initial_cost_value)">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>
        <div class="scrollable" style="overflow:scroll; height:100px; background-color: white">
            <div class="scrollable-content" *ngFor="let initial_cost of initial_adapted_costs; let i=index">
              <span>{{initial_cost.reason}} - {{initial_cost.value}}</span>
              <mat-icon class="pointer" (click)="deleteInitialItem(i)">delete</mat-icon>
            </div>
        </div>
      </div>
      <div class="box white larger">
        <h3>Costes / Gastos Finales</h3>
        <div class="flex">
          <span (click)="openFinalReasonDialog()">Motivo</span>
          <mat-select id="concepto_final" [(value)]="selected_final_cost">
            <mat-option *ngFor="let reason of filtered_reasons" [value]="reason.id" >
              {{reason.description}}
            </mat-option>
          </mat-select>
        </div>
        <div class="flex">
          <span (click)="openValueExpressedDialog()" *ngIf="wallet_currency">Valor expresado en efectivo (S/.)</span>
          <span (click)="openValueExpressedDialog()" *ngIf="!wallet_currency">Valor expresado en efectivo ($)</span>
          <input type="number" [(ngModel)]="final_cost_value" required>
            <button mat-mini-fab class="plus-button"
                    (click)="push_final_adapted_costs(selected_final_cost, final_cost_value)">
              <mat-icon>add</mat-icon>
            </button>
        </div>
        <div class="scrollable" style="overflow:scroll; height:100px; background-color: white">
            <div class="scrollable-content" *ngFor="let final_cost of final_adapted_costs; let i=index">
              <span>{{final_cost.reason}} - {{final_cost.value}}</span>
              <mat-icon class="pointer" (click)="deleteFinalItem(i)">delete</mat-icon>
            </div>
        </div>
        </div>
    </section>
    <div class="buttons">
      <button mat-raised-button class="btn-color" (click)="saveItems()">AGREGAR</button>
      <button mat-raised-button class="btn-color" (click)="resetData()">LIMPIAR</button>
      <button mat-raised-button class="btn-color" (click)="updateWallet()">VER RESULTADOS</button>
    </div>
  </div>
</app-sidenav>
